<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Популярные вопросы</title>
</head>
<body>
        <nav>
            <ul>
                {% for qa in popular_qas %}
                    <li>
                        <p>qa.title</p>
                    </li>
                {% endfor %}
            </ul>
            <ul>
                {% for p in paginator.page_range %}
                    {% if p == page.number %}
                        <li>
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{paginator.baseurl}}{{p}}">
                            {{p}}
                        </a>
                        </li>
                {% endfor %}
            </ul>
        </nav>
</body>
</html>